<ul>
  <li>
    <strong>January 20, 2018</strong>: <a href="http://bit.ly/sigcse2019registration" target="_blank">Early registration extended</a> until the end of January 27th (CST).
  </li>
  <li>
      <strong>December 28, 2018</strong>: <a href="http://bit.ly/sigcse2019registration" target="_blank">Registration is now open</a>.
    </li>
    
  <li>
      <strong>November 26, 2018</strong>: <a href="attendees/workshops.html">Workshops posted</a>.
    </li>
  <li>
    <strong>November 8, 2018</strong>: <a href="https://whova.com/embedded/event/sigcs_201902/">Program posted.</a> (Whova).
  </li>
    <li>
	<strong>July 31, 2018</strong>:
		Initial venue, hotel, and registration information.
  </li>
  <li>
	<strong>July 9, 2018</strong>:
		EasyChair open and Policy updates.
  </li>
  <li>
	<strong>June 19, 2018</strong>:
		Updates to reviewer guidelines.
  </li>
  <li>
	<strong>May 29, 2018</strong>:
		SIGCSE 2019 Author guidelines available!
  </li>

  <li>
    <strong>Mar 3, 2018</strong>:
      SIGCSE 2019 site launches!
  </li>
  
</ul>
